@page "/Add_Answer/{value?}"

@if (result == "-1")
{
    <h1>هذا السؤال غير موجود</h1>
}
else
{
    <h2>السؤال:</h2>
    <h4>@result</h4>

    <div class="row">
        <div class="col">
            <SfCard>
                <div class="card-body">
                    <h5 class="card-title text-center">اضف اجابه</h5>
                    <SfTextBox Type="InputType.Text" EnableRtl="true" @bind-Value="@txtAnswer" Multiline="true" ID="IDTxtAnswer" FloatLabelType="@FloatLabelType.Auto" Placeholder="الاجابه"></SfTextBox>
                    <p class="error">@errorMessage</p>
                </div>
            </SfCard>
            <br />
        </div>

        <div class=buttons>
            <SfButton class="btn mx-3 my-3" OnClick="btnOk" CssClass="e-primary">موافق</SfButton>
            <SfButton class="btn mx-3 my-3 " OnClick="btnCancel" CssClass="e-danger">الغاء</SfButton>
        </div>
        <br />
        <br />
    </div>

}


<SfDialog Width="250px" ShowCloseIcon="false" IsModal="true" @bind-Visible="@IsVisible">
    <DialogTemplates>
        <Header> عمليه ناجحه </Header>
        <Content> لقد تم اضافة اجابتك </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="تمام" IsPrimary="true" OnClick="@OkClick" />
    </DialogButtons>
</SfDialog>



<style>
    .buttons {
        align-content: space-around;
        align-items: end;
        text-align: center;
    }

    .e-btn {
        width: 200px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
</style>